// breakpoints from
$from-xs: 350px;
$from-sm: 480px;
$from-md: 768px;
$from-bg: 960px;
$from-lg: 1200px;
$from-xl: 1500px;

// breakpoints to
$to-xs: 349px;
$to-sm: 479px;
$to-md: 767px;
$to-bg: 959px;
$to-lg: 1199px;
$to-xl: 1499px;